<body>
    <div class="flex flex-col justify-center items-center p-6 bg-white">
      <div class="flex items-center space-x-4">
        <div class="rounded-full h-24 w-24 bg-gray-300">
          <img
            src="../../assets/images/ProfilePicture.png"
            alt="Zinedine Sghari"
            class="rounded-full h-24 w-24"
          />
        </div>
      </div>
      <h2 class="text-lg font-semibold p-6">Zinedine Sghari</h2>
      <div class="p-6">
        <div class="mt-4">
          <h3 class="text-sm font-semibold text-gray-600 uppercase">Opleidingen</h3>
          <p class="text-sm">HBO-ICT</p>
          <p class="text-xs text-gray-500">Hogeschool Windesheim, Zwolle</p>
          <p class="text-sm">.NET Developer</p>
          <p class="text-xs text-gray-500">Deltion College, Zwolle</p>
        </div>
    
        <div class="mt-4">
          <h3 class="text-sm font-semibold text-gray-600 uppercase">Personalia</h3>
          <div class="flex flex-col">
            <a
              href="mailto:S1150571&#64;student.windesheim.nl"
              class="text-sm text-blue-600"
              >S1150571&#64;student.windesheim.nl</a
            >
            <a href="tel:+3165585778" class="text-sm text-blue-600"
              >+316 16092335</a
            >
            <p class="text-sm">Porporastraat 33</p>
            <p class="text-sm">8031 HN Zwolle</p>
            <a
              href="https://www.linkedin.com/in/zinedine-sghari-9b5ab3a6/"
              class="text-sm text-blue-600"
              >Linkedin</a
            >
          </div>
        </div>
      </div>
    </div>
  
    
  </body>
  